@use '../assets/styles/mixins' as mixin ; 
.header {
  position: relative;
  padding: 10px 20px;
  background-color: white;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  img {
    width: 130px;
  }

  .headerList {
    @include mixin.xs {
      display: none;
    }
  }
  .displayHearderBar {
    display: none;
    cursor: pointer;
     @include mixin.xs {
      display: block;
    }
  }
 
}